[submodule "PBL0301"]
	path = PBL0301
	url = https://github.com/dwikirama/PBL0301.git
[submodule "PBL0302"]
	path = PBL0302
	url = https://github.com/dwikirama/PBL0302.git
[submodule "PBL0101"]
	path = PBL0101
	url = https://github.com/yuridazani/Tadika-Mesra.git
[submodule "PBL0401"]
	path = PBL0401
	url = https://github.com/dwikirama/PBL0401.git
[submodule "PBL0402"]
	path = PBL0402
	url = https://github.com/dwikirama/PBL0402.git
[submodule "PBL0901"]
	path = PBL0901
	url = https://github.com/dwikirama/PBL0901.git
[submodule "PBL0902"]
	path = PBL0902
	url = https://github.com/dwikirama/PBL0902.git
[submodule "PBL0903"]
	path = PBL0903
	url = https://github.com/dwikirama/PBL0903.git
[submodule "PBL1201"]
	path = PBL1201
	url = https://github.com/dwikirama/PBL1201.git
[submodule "PBL0102_PBL0202"]
	path = PBL0102_PBL0202
	url = https://github.com/dwikirama/PBL0102_PBL0202.git
[submodule "PBL0201"]
	path = PBL0201
	url = https://github.com/dwikirama/PBL0201.git
[submodule "PBL0203"]
	path = PBL0203
	url = https://github.com/auliazmr24/PBL0203.git
